html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    background-color: aqua;
    background-image: linear-gradient(to right, #005c99, #006bb3, #1aa3ff, #66c2ff, #80ccff, #99d6ff, #b3e0ff, #ccebff, #ccebff, #ccefff, #ffffff);

}
.h2{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 25px;
}
@media(max-width: 376px){
    .base{
        margin: 0px 0px 0px 0px;
    }
}
.foto1e1{   
    width: 200px;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px 10px 5px 5px;
}
.foto2e2{
    width: 200px;
    position: absolute;
    margin-left: 365px;
    margin-top: 50px;
    border-radius: 10px 10px 5px 5px;
}
.foto3e3{
    width: 200px;
    position: absolute;
    margin-left: 665px;
    margin-top: 50px;
    border-radius: 10px 10px 5px 5px;
}
.foto3e44{
    width: 200px;
    position: absolute;
    margin-left: 950px;
    margin-top: 50px;
    border-radius: 10px 10px 5px 5px;
}
.foto4e4{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 50px;
    border-radius: 10px 10px 5px 5px;
}
.foto5e5{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 365px;
    border-radius: 10px 10px 5px 5px;
}
.foto6e6{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 665px;
    border-radius: 10px 10px 5px 5px;
}
.foto7e7{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 950px;
    border-radius: 10px 10px 5px 5px;
}
.sitee{
    width: 1300px;
   position: absolute; 
}
.container{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
  }
  .container img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container2 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 365px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
  }
  .container2 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container2:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container3 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 665px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
  }
  .container3 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container3:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container3e4 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 950px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
  }
  .container3e4 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container3e4:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container4 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 400px;
    border-radius: 10px 10px 0px 0px;
  }
  .container4 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container4:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container5 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 365px;
    margin-top: 400px;
    border-radius: 10px 10px 0px 0px;
  }
  .container5 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container5:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container6 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 665px;
    margin-top: 400px;
    border-radius: 10px 10px 0px 0px;
  }
  .container6 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container6:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .container7 {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 950px;
    margin-top: 400px;
    border-radius: 10px 10px 0px 0px;
  }
  .container7 img {
    max-width: 200px;
    height: 200px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .container7:hover img {
    -moz-transform: scale(3.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
  }
  .receita{
    position: absolute;
    margin: 260px 0px 0px 75px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita2{
    position: absolute;
    margin: 260px 0px 0px 388px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita3{
    position: absolute;
    margin: 260px 0px 0px 688px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita3e4{
    position: absolute;
    margin: 252px 0px 0px 960px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita3e44{
    position: absolute;
    margin: 275px 0px 0px 1005px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita4{
    position: absolute;
    margin: 603px 0px 0px 85px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita4e4{
    position: absolute;
    margin: 625px 0px 0px 110px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita5{
    position: absolute;
    margin: 603px 0px 0px 373px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita5e5{
    position: absolute;
    margin: 625px 0px 0px 377px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita6{
    position: absolute;
    margin: 603px 0px 0px 676px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita6e6{
    position: absolute;
    margin: 625px 0px 0px 676px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita7{
    position: absolute;
    margin: 603px 0px 0px 973px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .receita7e7{
    position: absolute;
    margin: 625px 0px 0px 1000px;
    font-weight: -5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
  }
  .button{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 303px 0px 0px 85px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button2{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 303px 0px 0px 397px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button3{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 303px 0px 0px 697px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button3e4{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 303px 0px 0px 982px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button4{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 653px 0px 0px 85px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button5{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 653px 0px 0px 397px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button6{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 653px 0px 0px 697px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .button7{
    background-color: #4CAF50; /* Green */
    border-radius: 30px 30px 30px 30px;
    border: none;
    color: white;
    padding: 10px 32px;
    font-size: 16px;
    position: absolute;
    margin: 653px 0px 0px 982px;
    width: 70px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  .cursofaltando1{
    position: absolute;
    margin: 1000px 0px 0px 50px;
  }
  .cursofaltando2{
    position: absolute;
    margin: 1100px 0px 0px 50px;
  }