html, body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
    padding: 8px 0px 0px 12px;
}
html, body{
    height: 100%;
    overflow-x: hidden;
}
.sobre {
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    cursor: pointer;
    position: absolute
}
@media(max-width: 376px){
    .base{
        margin: 0px 0px 0px 0px;
    }
}
.img {
    width: 1300px;
    display: block;
    margin: 0px 0px 0px 0px;
}
.h2 {
    font-weight: 200px;
    margin: 100px 0px 0px 225px;
    text-align: center;
}

